body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    color: #333;
}
.container {
    max-width: 500px;
    padding: 20px;
    text-align: left;
    position: absolute;
    left: 400px; 
    top: 38%; 
    transform: translateY(-50%);
}
.icon {
    block-size: 100px;
    margin-bottom: 30px;
    cursor: pointer;
}
h1 {
    font-size: 40px;
    margin: 20px 0; 
}
p {
    font-size: 20px;
    margin: 0;
}
.suggestions {
    font-size: 18px;
    margin-top: 10px;
}
.suggestions a {
    color: #1a73e8;
    text-decoration: none;
}
.suggestions a:hover {
    text-decoration: underline;
}
.error-code {
    margin-top: 20px;
    font-size: 12px;
    color: #778;
}
.button {
    background-color: #1a73e8;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 20px;
}
.button:hover {
    background-color: #1669c1;
}
.hidden-clue {
    color: black;
    user-select: none;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}